<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href="@Url.Content("~/App_Themes/base/style.css")" rel="stylesheet" type="text/css" />
    @if(Request.IsLocal)
    {
       <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
       <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>       
    } else
    {
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>       
    }
    <script src="@Url.Content("~/Scripts/jquery-plugins.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
  @*<script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/gallery.scripts.js")" type="text/javascript"></script> 
    
    @RenderSection("pagehead", false)
</head>
<body>
   <div id="logo">
      <div>
         <a href="@Url.Action("Index", "Gallery")"><img src="@Url.Content("~/App_Themes/base/images/logo.png")" alt="logo" /></a>
      </div>
      <span>@RenderSection("subtitle", false)</span>
      <div id="user">@if (User.Identity.IsAuthenticated)
                     {<text>Welcome <div class="name">@User.Identity.Name</div> | @Html.ActionLink("Logout", "Logout", "User")</text>}
                     else
                     {@Html.ActionLink("Login", "Login", "User")}</div>
   </div>
   <hr />
   <div id="header">
      @RenderSection("header", false)
   </div>
   <div id="page">
     @*
     <div id="sidebar">
         <ul>
            <li>
               <h2>
                  Aliquam tempus</h2>
               <p>
                  Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna.
                  Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
            </li>
         </ul>
      </div>
      *@
      <div id="content">
         @RenderBody()
      </div>
      <div style="clear: both;">&nbsp;</div>
   </div>
   <div id="footer">
      <div>
         <span id="back">@Html.ActionLink("To galleries", "Index", "Gallery")</span> 
         | 
         <span id="contact">@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "openDialog" }) </span>
      </div>
      <p>Copyright (c) @DateTime.Now.Year. All rights reserved.</p>
   </div>
</body>
</html>